<div class="title1">
    <h3>Productos que te podrían interesar...</h3>
</div>
<div class="center">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-img-container">
                                    <img src="assets/productos/mascara-tigua.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Máscaras de Tigua</h5>
                                    <a href="" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-img-container">
                                    <img src="assets/productos/mermelada-ca.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Mermelada casera</h5>
                                    <a href="" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-img-container">
                                    <img src="assets/productos/figura-madera.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Loros tallados en madera</h5>
                                    <a href="" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-img-container">
                                    <img src="assets/productos/velas-artesanales.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Velas artesanales</h5>
                                    <a href="" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-img-container">
                                    <img src="assets/productos/bolso-cuero.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Bolso de cuero</h5>
                                    <a href="" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-img-container">
                                    <img src="assets/productos/velas-artesanales.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Velas artesanales</h5>
                                    <a href="" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="title2">
    <h3>Todos los productos</h3>
</div>
<div class="container2">
    <div class="row">
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-img-container">
                    <img src="assets/productos/queso-artesanal-1.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Queso de oveja</h5>
                    <a href="" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-img-container">
                    <img src="assets/productos/Cuzco-ceramica.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ceramica de Cuzco</h5>
                    <a href="" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-img-container">
                    <img src="assets/productos/velas-artesanales.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Velas artesanales</h5>
                    <a href="" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-img-container">
                    <img src="assets/productos/mermelada-ca.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mermelada casera</h5>
                    <a href="" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-img-container">
                    <img src="assets/productos/figura-madera.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Loros tallados en madera</h5>
                    <a href="" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-img-container">
                    <img src="assets/productos/bolso-cuero.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bolso de cuero</h5>
                    <a href="" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>